<header-component header-title="vm.config_header.title"></header-component>
<div class="row form-group">
    <div class="col-sm-offset-6 col-sm-6">
        <a href="#/riesgos/identificacion" class="btn btn-success pull-right"><i class="fa fa-plus-square" aria-hidden="true"></i> Identificación de riesgo</a>
    </div>
</div>
<hr />
<div class="row form-group">
    <div class="col-sm-12">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr class="info">
                    <th style="width: 30%;">Riesgo</th>
                    <th style="width: 10%;">Probabilidad</th>
                    <th style="width: 10%;">Impacto</th>
                    <th style="width: 20%;">Estrategía</th>
                    <th style="width: 10%;">Responsable</th>
                    <th style="width: 10%;">¿Ocurrió?</th>
                    <th style="width: 10%;">Planificación</th>
                </tr>
            </thead>
            <tbody ng-repeat="riesgo in vm.riesgos | orderBy: '-impacto.id' | buscador track by $index">
                <tr>
                    <td>
                         <a href="#" editable-text="riesgo.descripcion">{{riesgo.descripcion}}</a>
                    </td>
                    <td>
                        <a href="#" editable-text="riesgo.probabilidad">{{ riesgo.probabilidad || "-" }}</a>
                    </td>
                    <td>
                        <a href="#" editable-select="riesgo.impacto" e-ng-options="s.id as s.label for s in vm.impacto_riesgos">
                            {{ vm.showImpacto(riesgo) }}
                        </a>
                    </td>
                    <td>
                        <a href="#" editable-select="riesgo.estrategia" e-ng-options="s.id as s.label for s in vm.estrategias_riesgos">
                            {{ vm.showEstrategia(riesgo) }}
                        </a>
                    </td>
                    <td>
                        <a href="#" editable-select="riesgo.responsable" e-ng-options="s.id as s.label for s in vm.responsables">
                            {{ vm.showResponsable(riesgo) }}
                        </a>
                        {{riesgo.responsable.label}}
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                          <button type="button" class="btn btn-sm" ng-click="riesgo.estado = {id: 1,label: 'Ocurrido'}" ng-disabled="riesgo.estado.id == 1" ng-class="{'btn-danger': riesgo.estado.id == 1,'btn-default': riesgo.estado.id == 0}">Si</button>
                          <button type="button" class="btn btn-sm" ng-click="riesgo.estado = {id: 0,label: 'No ocurrido'}"  ng-disabled="riesgo.estado.id == 0" ng-class="{'btn-success': riesgo.estado.id == 0,'btn-default': riesgo.estado.id == 1}">No</button>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-info" ng-click="riesgo.mostrar_estrategia =! riesgo.mostrar_estrategia">
                            <span ng-show="!riesgo.mostrar_estrategia">Ver <i class="fa fa-chevron-right" aria-hidden="true" ></i> </span>
                            <span ng-show="riesgo.mostrar_estrategia">Ocultar <i class="fa fa-chevron-down" aria-hidden="true" ></i></span>
                        </button>
                         
                    </td>
                </tr>
                <tr class="info" ng-show="riesgo.mostrar_estrategia">
                    <td colspan="7">
                         <a href="#" editable-textarea="riesgo.estrategia_descripcion" e-rows="10" e-cols="100">
                            <span>{{riesgo.estrategia_descripcion}}</span>
                         </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>