<header-component header-title="vm.config_header.title"></header-component>
<div class="row form-group">
    <div class="col-sm-offset-6 col-sm-6">
        <a href="#/requerimientos/alta" class="btn btn-success btn-block">Nuevo requerimiento</a>
    </div>
</div>
<div class="row form-group">
    <div class="col-sm-12">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th colspan="2" style="text-align:center;">Generales</th>
                    <th colspan="2" style="text-align:center;">Factor</th>
                    <th style="text-align:center;">Restricciones</th>
                </tr>
                <tr>
                    <th>Descripción</th>
                    <th>Importancia</th>
                    <th>Métrica</th>
                    <th>Valor</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="req in vm.requerimientos | orderBy: '-importancia.id' | buscador track by $index">
                    <td>{{req.descripcion}}</td>
                    <td>{{req.importancia.label}}</td>
                    <td>{{req.metrica.label}}</td>
                    <td>{{req.valor}}%</td>
                    <td>
                        <span ng-repeat="res in req.restricciones track by $index">{{res.label}}&nbsp;</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

